apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  labels:
    app.kubernetes.io/managed-by: dso-console
    {{- $.Values.common | toYaml | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "3" # Evite la suppression avant les Applications
  name: {{ .Values.argocd.project }}-env
  namespace: {{ .Values.argocd.namespace }}
spec:
  destinations:
  - name: {{ .Values.application.destination.name }}
    namespace: {{ .Values.application.destination.namespace }}
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
  {{- $combined := concat .Values.application.sourceRepos (list "https://github.com/cloud-pi-native/helm-charts.git" .Values.environment.valueFileRepository) }}
  sourceRepos: 
  {{- range $combined }}
    - {{ . }}
  {{- end }}
