apiVersion: v1
kind: Secret
metadata:
  labels:
    argocd.argoproj.io/secret-type: repo-creds
  name: gitlab
stringData:
  password: {{ .Values.gitlab.token }}
  url: {{ .Values.gitlab.url }}
  username: root
