{{ if .Capabilities.APIVersions.Has "secrets.hashicorp.com/v1beta1" -}}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: registry-pull-secret
  namespace: {{ .Values.application.destination.namespace }}
  labels:
    app.kubernetes.io/managed-by: dso-console
    {{- .Values.common | toYaml | nindent 4 }}
spec:
  vaultAuthRef: vault-auth
  type: kv-v2
  mount: {{ .Values.application.vault.kvName }}
  path: {{ .Values.application.vault.projectsRootDir }}/{{ index .Values.common "dso/project.slug" }}/REGISTRY/ro-robot
  destination:
    create: true
    name: registry-pull-secret
    type: "kubernetes.io/dockerconfigjson"
    transformation:
      excludes:
        - .*
      excludeRaw: true
      templates:
        .dockerconfigjson:
          text: |
            {{`{{ get .Secrets "DOCKER_CONFIG" }}`}}
{{ end -}}
