apiVersion: v2
name: cpn-console
description: A Helm chart to deploy Cloud Pi Native Console
type: application
version: 1.4.1
appVersion: 8.4.0
keywords: []
home: https://cloud-pi-native.fr
sources:
  - https://github.com/cloud-pi-native/helm-charts
  - https://github.com/cloud-pi-native/console
dependencies:
- name: postgresql
  version: 12.7.3
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.enabled
- name: keycloak
  version: 19.3.0
  repository: https://charts.bitnami.com/bitnami
  condition: keycloak.enabled
deprecated: false
annotations: {}
maintainers:
  - name: Thibault Colin
    email: thibault.colin@interieur.gouv.fr
    url: https://this-is-tobi.com
