# -- Informations communes, notamment appliquées en label sur les différents objets
common:
  dso/organization: org
  dso/project: project
  dso/environment: env
argocd:
  # -- Préfixe des projets ArgoCD à créer
  project: project1
  # -- Namespace de création des objets ArgoCD
  namespace: argocd
  # -- Version du Chart dso-ns à utiliser
  nsChartVersion: 1.0.0
environment:
  # -- URL du repo avec le fichier values à utiliser pour cet environnement
  valueFileRepository: https://gitlab.com/projects/Infra/org/demo/infra.git
  # -- Revision Git à utiliser lors de la récupération des values
  valueFileRevision: HEAD
  # -- Chemin du fichier à utiliser lors de la récupération des values
  valueFilePath: values.yaml
  # -- Nom du groupe à autoriser en lecture seule sur les objets applicatifs (-app) déployés par ArgoCD
  roGroup: /project/environment/RO
  # -- Nom du groupe à autoriser en lecture/écriture sur les objets applicatifs (-app) déployés par ArgoCD
  rwGroup: /project/environment/RW
application:
  # -- Liste des dépôts à autoriser au niveau du AppProject
  sourceRepositories:
  - https://gitlab.com/projects/org/demo
  destination:
    # -- Nom du cluster applicatif cible
    name: dest
    # -- Nom du namespace applicatif cible
    namespace: app1
  # -- Activer la synchronisation automatique de l'application
  autosync: true
  # -- Liste des dépôts à déployer
  repositories:
  # @example
  # - name: quota-explorer
  #   id: e5aeeb57-c2b0-476a-8227-5890a7c0354b
  #   repoURL: https://gitlab.com/projects/org/demo/quota-explorer.git
  #   targetRevision: main
  #   path: '.'
  #   valueFiles: []
  # - name: tuto-java-infra-helm
  #   id: b1f4d3e2-3c4b-4d5e-9f6a-7b8c9d0e1f2a
  #   repoURL: https://gitlab.com/projects/org/demo/tuto-java-infra-helm.git
  #   targetRevision: HEAD
  #   path: .
  #   valueFiles:
  #     - values.yaml
  #     - values-integ.yaml
