apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cpnConsole.fullname" . }}-server
  labels:
    {{- include "cpnConsole.server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.server.autoscaling.enabled }}
  replicas: {{ .Values.server.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "cpnConsole.server.selectorLabels" . | nindent 6 }}
  strategy:
    type: {{ .Values.server.strategy.type }}
  template:
    metadata:
      annotations:
        {{- include "checksum" (list $ "/server/configmap.yaml") | nindent 8 }}
        {{- include "checksum" (list $ "/server/secret.yaml") | nindent 8 }}
        {{- include "checksum" (list $ "/server/scripts.yaml") | nindent 8 }}
        {{- if .Values.config.create }}
        {{- include "checksum" (list $ "/config.yaml") | nindent 8 }}
        {{- end }}
        {{- with .Values.server.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "cpnConsole.server.selectorLabels" . | nindent 8 }}
        {{- with .Values.server.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if and .Values.imageCredentials.username .Values.imageCredentials.password }}
      imagePullSecrets:
      - name: {{ include "cpnConsole.name" . }}-pullsecret
      {{- end }}
      serviceAccountName: {{ include "cpnConsole.server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.server.podSecurityContext | nindent 8 }}
      {{- if or .Values.server.plugins .Values.server.initContainers }}
      initContainers:
      {{- if and .Values.server.plugins (len .Values.server.plugins) }}
      - image: {{ .Values.server.fetchContainer.image }}
        name: fetch-plugins
        imagePullPolicy: {{ .Values.server.fetchContainer.pullPolicy }}
        {{- if .Values.server.proxy.enabled }}
        env:
          {{- toYaml .Values.server.proxy.env | nindent 8 }}
        {{- end }}
        envFrom:
        - configMapRef:
            name: {{ include "cpnConsole.fullname" . }}-server
        - secretRef:
            name: {{ include "cpnConsole.fullname" . }}-server
        {{- if .Values.server.envFrom }}
          {{- toYaml .Values.server.envFrom | nindent 8 }}
        {{- end }}
        command:
        - sh
        - /script/fetch
        volumeMounts:
        - name: fetch-script
          mountPath: /script
        - name: plugins
          mountPath: /plugins
      {{- end }}
      {{- if .Values.server.initContainers }}
        {{- tpl (toYaml .Values.server.initContainers) . | nindent 8 }}
      {{- end }}
      {{- end }}
      containers:
      - name: server
        securityContext:
          {{- toYaml .Values.server.container.securityContext | nindent 12 }}
        image: "{{ .Values.server.image.repository }}:{{ .Values.server.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.server.image.pullPolicy }}
        {{- if .Values.server.container.command }}
        command:
        {{- range .Values.server.container.command }}
        - {{ . | quote }}
        {{- end }}
        {{- end }}
        {{- if .Values.server.container.args }}
        args:
        {{- range .Values.server.container.args }}
        - {{ . | quote }}
        {{- end }}
        {{- end }}
        ports:
          - containerPort: {{ .Values.server.service.port }}
            protocol: TCP
        envFrom:
        - configMapRef:
            name: {{ include "cpnConsole.fullname" . }}-server
        - secretRef:
            name: {{ include "cpnConsole.fullname" . }}-server
        {{- if .Values.server.envFrom }}
          {{- toYaml .Values.server.envFrom | nindent 8 }}
        {{- end }}
        {{- if .Values.server.startupProbe.enabled }}
        {{- if .Values.global.postgresql.cnpgSecretName }}
        env:
        - name: DB_URL
          valueFrom:
            secretKeyRef:
              name: {{ .Values.global.postgresql.cnpgSecretName }}
              key: uri
        {{- end }}
        startupProbe:
          httpGet:
            path: {{ .Values.server.healthcheckPath }}
            port: {{ .Values.server.container.port }}
          initialDelaySeconds: {{ .Values.server.startupProbe.initialDelaySeconds }}
          successThreshold: {{ .Values.server.startupProbe.successThreshold }}
          failureThreshold: {{ .Values.server.startupProbe.failureThreshold }}
          periodSeconds: {{ .Values.server.startupProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.server.startupProbe.timeoutSeconds }}
        {{- end }}
        {{- if .Values.server.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: {{ .Values.server.healthcheckPath }}
            port: {{ .Values.server.container.port }}
          initialDelaySeconds: {{ .Values.server.readinessProbe.initialDelaySeconds }}
          successThreshold: {{ .Values.server.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.server.readinessProbe.failureThreshold }}
          periodSeconds: {{ .Values.server.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.server.readinessProbe.timeoutSeconds }}
        {{- end }}
        {{- if .Values.server.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: {{ .Values.server.healthcheckPath }}
            port: {{ .Values.server.container.port }}
          initialDelaySeconds: {{ .Values.server.livenessProbe.initialDelaySeconds }}
          successThreshold: {{ .Values.server.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.server.livenessProbe.failureThreshold }}
          periodSeconds: {{ .Values.server.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.server.livenessProbe.timeoutSeconds }}
        {{- end }}
        {{- if .Values.server.hostAliases }}
        hostAliases:
          {{- toYaml .Values.server.hostAliases | nindent 8 }}
        {{- end }}
        resources:
          {{- toYaml .Values.server.resources | nindent 10 }}
        volumeMounts:
        - name: config
          mountPath: /config
        {{- if .Values.server.dbDataCm }}
        - name: imports
          mountPath: /app/dist/init/db/imports
        {{- end }}
        {{- if and .Values.server.plugins (len .Values.server.plugins) }}
        - name: plugins
          mountPath: /plugins
        {{- end }}
        {{- range $volumeMount := .Values.server.extraVolumeMounts }}
        - name: {{ $volumeMount.name }}
          mountPath: {{ $volumeMount.mountPath }}
        {{- end }}
      {{- if .Values.server.extraContainers }}
        {{- tpl (toYaml .Values.server.extraContainers) . | nindent 8 }}
      {{- end }}
      {{- with .Values.server.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.server.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.server.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: config
        {{- if .Values.server.extraCa.name }}
        projected:
          sources:
          - configMap:
              name: {{ .Values.server.extraCa.name }}
              items:
              - key: {{ .Values.server.extraCa.key }}
                path: {{ .Values.server.extraCa.mountSubPath }}
        {{- end }}
      {{- if .Values.server.dbDataCm }}
      - name: imports
        configMap:
          name: {{ .Values.server.dbDataCm }}
      {{- end }}
      {{- if and .Values.server.plugins (len .Values.server.plugins) }}
      - name: plugins
        emptyDir: {}
      - name: fetch-script
        configMap:
          name: {{ include "cpnConsole.fullname" . }}-fetch-script
      {{- end }}
      {{- range $volume := .Values.server.extraVolumes }}
      - name: {{ $volume.name }}
        {{- if eq $volume.type "hostPath" }}
        hostPath:
          path: {{ $volume.path }}
        {{- end }}
        {{- if eq $volume.type "configMap" }}
        configMap:
          name: {{ $volume.name }}
        {{- end }}
      {{- end }}
